:root {
  --background: #e7e7ef;
  --foreground: #1a1e2c;
  --card: #f3f3f7;
  --card-foreground: #1a1e2c;
  --popover: #f3f3f7;
  --popover-foreground: #1a1e2c;
  --primary: #f5b700;
  --primary-foreground: #fffdfa;
  --secondary: #f3f3f7;
  --secondary-foreground: #2d344d;
  --muted: #fffdfa;
  --muted-foreground: #2d344d;
  --accent: #fffdfa;
  --accent-foreground: #005611;
  --destructive: #ef4444;
  --destructive-foreground: #fffdfa;
  --border: #dadae7;
  --input: #dadae7;
  --ring: #f5b700;
  --chart-1: #f5b700;
  --chart-2: #ad9b06;
  --chart-3: #778509;
  --chart-4: #43710d;
  --chart-5: #005611;
  --sidebar: #fffdfa;
  --sidebar-foreground: #262626;
  --sidebar-primary: #f5b700;
  --sidebar-primary-foreground: #fffdfa;
  --sidebar-accent: #f3f3f7;
  --sidebar-accent-foreground: #005611;
  --sidebar-border: #dadae7;
  --sidebar-ring: #f5b700;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1a1e2c;
  --foreground: #f3f3f7;
  --card: #2d344d;
  --card-foreground: #f3f3f7;
  --popover: #2d344d;
  --popover-foreground: #f3f3f7;
  --primary: #f5b700;
  --primary-foreground: #101119;
  --secondary: #2d344d;
  --secondary-foreground: #f3f3f7;
  --muted: #2d344d;
  --muted-foreground: #f3f3f7;
  --accent: #005611;
  --accent-foreground: #f3f3f7;
  --destructive: #ef4444;
  --destructive-foreground: #f3f3f7;
  --border: #6574a4;
  --input: #6574a4;
  --ring: #f5b700;
  --chart-1: #f5b700;
  --chart-2: #ad9b06;
  --chart-3: #778509;
  --chart-4: #43710d;
  --chart-5: #005611;
  --sidebar: #101119;
  --sidebar-foreground: #f3f3f7;
  --sidebar-primary: #f5b700;
  --sidebar-primary-foreground: #f3f3f7;
  --sidebar-accent: #005611;
  --sidebar-accent-foreground: #f3f3f7;
  --sidebar-border: #6574a4;
  --sidebar-ring: #f5b700;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}